@import "variables";
@import "mixins";

* {
 margin: 0;
 padding: 0;
}
// Comment
body {
 background: rgb(122, 122, 220);
}
// обращаюсь ко всем блокам у которых нету класса  first
.block:not(.first){
 background: $bgColor;
 height: 200px;
 margin-bottom: 20px;
 width: $blockWidth;
 border: $border;
}
.first {
 background: $bgColor;
 height: 100px;
 margin-bottom: 20px;
 width: $blockWidth;
 border: $border;
}
// ----------------
#central_block {
 padding: 20px;

 ul {
  list-style: none;
  display: inline-block;
 }

 li {
  float: left;
  margin-right: 10px;
 }
}
// #central_block > ul {
//  list-style: none;
// }
// ------------------



a {
 @include font(blue, bold);
 // @include font($weight:bold, $color: blue);
 @include padd(5px 15px);
}


// очень удобный миксин для адаптива:
// @mixin max-screen($res) {
//   @media screen and (max-width: $res) {
//     @content;
//   }
// }
// На место переменной ставишь разрешение экрана, например: 

//     @include max-screen(991px) {
//       display: none;
//     }

// ----- ### 5 ### -----



// a:hover {
//  color: red;
// }
a {
 // &:hover {
 //  color: red;
 // }
 @include link(#000, red, blue, rgb(181, 91, 61))
}

@include link2(#000, rgb(255, 0, 21), blue, rgb(177, 82, 48))





