// чтобы создать переменную нам необходимо указать знак $
$bgColor : #bc8f8f;
$blockWidth: 300px;
$border: 4px solid rgb(72, 72, 160);

* {
 margin: 0;
 padding: 0;
}
// Comment
body {
 background: rgb(122, 122, 220);
}
// обращаюсь ко всем блокам у которых нету класса  first
.block:not(.first){
 background: $bgColor;
 height: 200px;
 margin-bottom: 20px;
 width: $blockWidth;
 border: $border;
}
.first {
 background: $bgColor;
 height: 100px;
 margin-bottom: 20px;
 width: $blockWidth;
 border: $border;
}
// ----------------
#central_block {
 padding: 20px;

 ul {
  list-style: none;
  display: inline-block;
 }

 li {
  float: left;
  margin-right: 10px;
 }
}
// #central_block > ul {
//  list-style: none;
// }
// ------------------


// ----- ### 3 ### -----
// благодаря миксинов мы можем создавать переиспользуемые блоки
// то есть по сути если говорить простыми словами то мы можем
// создать некий шаблон, который будет вмещать определенные 
// свойства и далее этот шаблон мы можем использовать как
// свойства два различных блок
@mixin font ($color: red, $weight) {
 font-size: 1.1em;
 font-weight: $weight;
 font-family: Arial, sans-serif;
 color: $color;
}
@mixin padd($padd...){
 padding: $padd;
}
a {
 @include font(blue, bold);
 // @include font($weight:bold, $color: blue);
 @include padd(5px 15px);
}


// очень удобный миксин для адаптива:
// @mixin max-screen($res) {
//   @media screen and (max-width: $res) {
//     @content;
//   }
// }
// На место переменной ставишь разрешение экрана, например: 

//     @include max-screen(991px) {
//       display: none;
//     }

